.body {
    font-size: small;
}

tr:hover {
    cursor: pointer;
}

label {
    align-content: center;
    text-align: right;
    font-size: small;
    padding-right: 6px;
    font-weight: bold;
}

table {
    font-size: small;
}

.form-control {
    max-width: 65%;    
}


#col-one, #col-two {
    padding: .5rem;
    gap:1rem;

}

#table-container-1 {
    overflow-y: scroll;
    max-height: 350px;    
}
#table-container-2, #table-container-3 {
    overflow-y: scroll;
    max-height: 300px;
}

#client-info div {
    margin-bottom: .4rem;
    display: flex;
}
#notes {
    max-width: 90%;
}

#client-search-container, #session-history-container{
    padding-right: 1rem;
}

#section-one, #section-two, #section-three, #section-four #section-five {
    padding-top: 1.5rem;
    border-bottom: dotted 1px;    
}
.container {
    padding-bottom: 5rem;
}

#search-criteria, #search-input {
    max-width: 90%;
}
#purchase-summary {
    border: none;
    max-width: 80%;
}

#input-cost {
    max-width: 63%;
}

.menu-buttons {
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#btn-add-referral {
    width: 7.5rem;
}

.btn {
    color: black;
    width: 9rem;
    font-weight: bold;
}

.btn:hover {
    background: none;
}

#referral-credits {
    max-width: 7.5rem;
    margin: auto;
}
#referral-buttons {
    display: block;
    text-align: center;
    margin-top: 1rem;
    
    max-width: 100%;
    
}
#referral-buttons button {
    width: 7.5rem;    
}
#purchase-buttons {
    max-width: 100%;
    margin: auto;
    justify-content:center;
}
#purchase-buttons button {
    width: 12rem;
}

#payment label{
    text-align: right;
    margin-right: 10px;
}
#payment input {
    max-width: 70%;
}
#payment select {
    max-width: 80%;
}