@page "/screen-1"

<h3>Client Payment</h3>

<div class="container border">
    <section id="section-one">
        <div class="row-cols-2 d-flex">
            <fieldset>
                <legend>Client Search</legend>
                <div id="client-search-container">
                    <div id="col-one" class="row-cols-3 d-flex">
                        <div class="col-5">
                            <select class="form-control form-select" id="search-criteria">
                                <option selected value="">Search Criteria</option>
                                <option value="all">All Clients</option>
                                <option value="date">Appointment Date</option>
                                <option value="name">Client Name</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="text" id="search-input" />

                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-secondary" id="btn-search"> Search</button>
                        </div>
                    </div>
                    <div id="table-container-1">
                        <table id="search-client-results" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Client ID</th>
                                    <th>Name</th>
                                    <th>Appointment Date</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                <tr>
                                    <td><strong>01-0003</strong></td>
                                    <td><strong>Leonardo da Vinci</strong></td>
                                    <td><strong>2024-04-10</strong></td>
                                </tr>
                                <tr>
                                    <td>01-0010</td>
                                    <td>Charles Darwin</td>
                                    <td>2024-04-04</td>
                                </tr>
                                <tr>
                                    <td>01-0009</td>
                                    <td>Mother Teresa</td>
                                    <td>2024-04-03</td>
                                </tr>
                                <tr>
                                    <td>01-0008</td>
                                    <td>Mahatma Gandhi</td>
                                    <td>2024-04-02</td>
                                </tr>
                                <tr>
                                    <td>01-0007</td>
                                    <td>Isaac Newton</td>
                                    <td>2024-04-01</td>
                                </tr>
                                <tr>
                                    <td>01-0006</td>
                                    <td>Ada Lovelace</td>
                                    <td>2024-03-31</td>
                                </tr>
                                <tr>
                                    <td>01-0005</td>
                                    <td>Nikola Tesla</td>
                                    <td>2024-03-30</td>
                                </tr>
                                <tr>
                                    <td>01-0004</td>
                                    <td>William Shakespeare</td>
                                    <td>2024-03-29</td>
                                </tr>
                                <tr>
                                    <td>01-0002</td>
                                    <td>Marie Curie</td>
                                    <td>2024-03-28</td>
                                </tr>
                                <tr>
                                    <td>01-0001</td>
                                    <td>Albert Einstein</td>
                                    <td>2024-03-27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>Client Information</legend>
                <div id="client-info" class="">
                    <div class="row-cols-2 d-flex mt-5">
                       @*  <div>
                            <label for="client-id" class="col-4">Client Id:</label>
                            <input class="form-control" disabled id="client-id" />
                        </div> *@
                        <div>
                            <label for="first-name" class="col-4">First Name:</label>
                            <input class="form-control" disabled id="first-name" @bind="firstName"/>
                        </div>
                        <div>
                            <label for="last-name" class="col-5">Last Name:</label>
                            <input class="form-control" disabled id="last-name" @bind="lastName"/>
                        </div>
                    </div>
                    <div class="d-flex row-cols-2">  
                        <div class="d-flex">
                            <label for="client-address" class="form-label col-4">Address:</label>
                            <input class="form-control" disabled id="client-address" @bind="address"/>
                        </div>
                        <div class="d-flex">
                            <label for="city" class="form-label col-5">City:</label>
                            <input class="form-control" disabled id="city" @bind="city"/>
                        </div>
                    </div>
                    <div class="d-flex row-cols-2">
                        <div class="d-flex">
                            <label for="province" class="form-label col-4">Province:</label>
                            <input class="form-control" disabled id="province" @bind="province"/>
                        </div>
                        <div class="d-flex">
                            <label for="postal-code" class="form-label col-5">Postal Code:</label>
                            <input class="form-control" disabled id="postal-code" @bind="postalCode"/>
                        </div>
                    </div>
                    <div class="d-flex row-cols-2">
                        <div>
                            <label for="client-email" class="col-4">Email:</label>
                            <input class="form-control" disabled id="client-email" @bind="clientEmail"/>
                        </div>
                        <div>
                            <label for="client-phone-number" class="col-5">Phone Number:</label>
                            <input class="form-control" disabled id="client-phone-number" @bind="phoneNumber"/>
                        </div>
                    </div>
                    <div class="d-flex row-cols-2">
                        <div>
                            <label for="contact-name" class="col-4">Contact Name:</label>
                            <input class="form-control" disabled id="contact-name" @bind="contactPerson"/>
                        </div>
                        <div>
                            <label for="contact-number" class="col-5">Contact Number:</label>
                            <input class="form-control" disabled id="contact-number" @bind="contactNumber"/>
                        </div>
                    </div>

                    <div class="d-flex row-cols-2">
                        <div>
                            <label for="client-id" class="col-4">Client Id:</label>
                            <input class="form-control" disabled id="client-id" @bind="clientID"/>
                        </div>
                        <div>
                            <label for="client-type" class="col-5">Type:</label>
                            <input class="form-control" disabled id="client-type" @bind="clientType " />
                        </div>
                        
                   </div>
                    <div>
                        <label for="notes" class="col-2">Notes:</label>
                        <textarea class="form-control" disabled rows="3" id="notes" @bind="notes" />
                    </div>
                </div>
                <div id="payment-buttons" class="menu-buttons mt-2">
                    <button class="btn btn-outline-secondary mx-3">Edit</button>
                    <button class="btn btn-outline-secondary">Save</button>
                </div>
            </fieldset>
        </div>
    </section>
    <!--End Section one-->
    <section id="section-two">
        <div class="row-cols-2 d-flex">
            <fieldset class="col-6">
                <legend>Session History</legend>
                <div id="session-history-container">
                    <div id="table-container-2">
                        <table id="search-client-results" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Session</th>
                                    <th>Date</th>
                                    <th>Length</th>
                                    <th>Total</th>
                                    <th>Paid</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2001-011</td>
                                    <td>2024-04-10</td>
                                    <td>60</td>
                                    <td>$50.00</td>
                                    <td>No</td>                                   
                                    <td>Foot Spa...</td>
                                </tr>
                                <tr>
                                    <td>2001-022</td>
                                    <td>2024-02-17</td>
                                    <td>120</td>
                                    <td>$0.00</td>
                                    <td>Yes</td>
                                    <td>Client prefers a firm massage pressure</td>
                                </tr>
                                <tr>
                                    <td>2001-033</td>
                                    <td>2024-02-24</td>
                                    <td>30</td>
                                    <td>$0.00</td>
                                    <td>Yes</td>
                                    <td>Client has sensitive skin check for any reactions</td>
                                </tr>
                                <tr>
                                    <td>2001-074</td>
                                    <td>2024-03-02</td>
                                    <td>150</td>
                                    <td>$0.00</td>
                                    <td>Yes</td>
                                    <td>No specific notes</td>
                                </tr>
                                <tr>
                                    <td>2001-085</td>
                                    <td>2024-03-09</td>
                                    <td>90</td>
                                    <td>$0.00</td>
                                    <td>Yes</td>
                                    <td>Client prefers no talking during session</td>
                                </tr>
                                <tr>
                                    <td>2001-086</td>
                                    <td>2024-04-10</td>
                                    <td>90</td>
                                    <td>$0.00</td>
                                    <td>Yes</td>
                                    <td>No specific notes</td>
                                </tr>  
                                <tr>
                                    <td>1001-076</td>
                                    <td>2023-07-15</td>
                                    <td>60</td>
                                    <td>$125.00</td>
                                    <td>No</td>
                                    <td>Client requested extra towels</td>
                                </tr>
                                <tr>
                                    <td>1001-87</td>
                                    <td>2022-11-28</td>
                                    <td>60</td>
                                    <td>$125.00</td>
                                    <td>Yes</td>
                                    <td>Client has allergies, avoid scented oils</td>
                                </tr>
                                <tr>
                                    <td>1001-022</td>
                                    <td>2023-05-03</td>
                                    <td>60</td>
                                    <td>$125.00</td>
                                    <td>No</td>
                                    <td>Client prefers extra pillows</td>
                                </tr>
                                <tr>
                                    <td>1001-019</td>
                                    <td>2022-09-12</td>
                                    <td>60</td>
                                    <td>$125.00</td>
                                    <td>Yes</td>
                                    <td>Client requested specific massage techniques</td>
                                </tr>
                                <tr>
                                    <td>1001-040</td>
                                    <td>2023-02-21</td>
                                   <td>60</td>
                                    <td>$125.00</td>
                                    <td>No</td>
                                    <td>Client prefers low lighting during session</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Referral Information</legend>
                <div id="col-one-referral" class="row-cols-3 d-flex">
                    <div class="col-4">
                        <select class="form-control form-select" id="referral-info">
                            <option value="">Referred Client:</option>
                            <option value="">Reffered by:</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" id="search-referral" />

                    </div>
                    <div class="col-4">
                        <button id="btn-add-referral" class="btn btn-outline-secondary"> Add</button>
                    </div>
                </div>

                <div id="col-two" class="row-cols-2 d-flex">
                   <div class="col-8">
                        <div id="table-container-2 ">
                            <table id="search-client-results" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Client Id</th>
                                        <th>Client Name</th>
                                        <th>Date</th>
                                        <th>type</th>
                                        @* <th>Credit</th> *@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01-0008</td>
                                        <td>Mahatma Gandhi</td>
                                        <td>2023-05-10</td>
                                        <td>Referred by</td>
                                        @* <td>X</td> *@
                                    </tr>
                                    <tr>
                                        <td>01-0009</td>
                                        <td>Mother Teresa</td>
                                        <td>2024-05-11</td>
                                        <td>Referred</td>
                                        @* <td>.5</td> *@
                                    </tr>
                                    <tr>
                                        <td>01-0010</td>
                                        <td>Charles Darwin</td>
                                        <td>2024-05-12</td>
                                        <td>Referred</td>
                                        @* <td>.5</td> *@
                                    </tr>
                                    <tr>
                                        <td>01-0024</td>
                                        <td>Isaac Newton</td>
                                        <td>2023-12-09</td>
                                        <td>Referred</td>
                                        @* <td>0</td> *@
                                    </tr>
                                    <tr>
                                        <td>01-0033</td>
                                        <td>Leonhard Euler</td>
                                        <td>2023-05-13</td>
                                        <td>Referred</td>
                                        @* <td>0</td> *@
                                    </tr>
                                    <tr>
                                        <td >01-0033</td>
                                        <td>Leonhard Euler</td>
                                        <td>2023-05-13</td>
                                        <td>Referred</td>
                                        @* <td>0</td> *@
                                    </tr>                                 
                                  
                                </tbody>
                            </table>
                        </div>
                   </div>
                    <div class="col-4">
                        <div>
                            <label for="referral-credits" class="col-5" id="referral-credits-label">Credits</label>
                            <input class="form-control my-3 m-auto" disabled type="text" placeholder="1 Credit" id="credits-balance" />
                        </div>
                        <div class="mt-1">                            
                            <select class="form-control form-select" id="referral-credits">
                                <option selected value="">1 Credit</option>
                                <option value="">2 Credit</option>
                                <option value="">3 Credit</option>
                            </select>

                        </div>
                        <div class="menu-buttons" id="referral-buttons">
                            <button class="btn btn-outline-secondary">Apply</button>
                            <button class="btn btn-outline-secondary mt-3">Save</button>
                        </div>
                    </div>
                </div>                
            </fieldset>
        </div>
    </section>
    <!--End section-two-->
    <section id="section-three">
        <div class="row-cols-2 d-flex">
            <fieldset>
                <legend>Package Information</legend>
                <div id="session-history-container">
                    <div id="col-one">
                        <div id="table-container-2">
                            <table id="search-client-results" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Package</th>
                                        <th>type</th>
                                        <th>Purchase Date</th>
                                        <th>Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>2001</strong></td>
                                        <td><strong>10</strong></td>
                                        <td><strong>2024-02-15</strong></td>
                                        <td><strong>3.5</strong></td>
                                    </tr>                                   
                                    <tr>
                                        <td>2032</td>
                                        <td>5</td>
                                        <td>2023-08-25</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>2020</td>
                                        <td>5</td>
                                        <td>2023-06-13</td>
                                        <td>0</td>
                                    </tr>                                   
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-white">2020</td>
                                        <td class="text-white">5</td>
                                        <td class="text-white">2023-06-13</td>
                                        <td class="text-white">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>        
            </fieldset>
            <fieldset>
                <legend>Package Sessions</legend>
                <div id="col-two">
                    <div id="table-container-3">
                        <table id="search-client-results" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Session</th>
                                    <th>Date Used</th>
                                    <th>Length</th>
                                    <th>Remaining</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2001-086</td>
                                    <td>2024-02-15</td>
                                    <td>60</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>2001-022</td>
                                    <td>2024-02-17</td>
                                    <td>120</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>2001-033</td>
                                    <td>2024-02-24</td>
                                    <td>30</td>
                                    <td>6.5</td>
                                </tr>
                                <tr>
                                    <td>2001-074</td>
                                    <td>2024-03-02</td>
                                    <td>150</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>2001-085</td>
                                    <td>2024-03-09</td>
                                    <td>90</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>2001-087</td>
                                    <td>2024-03-16</td>
                                    <td>90</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>2001-084</td>
                                    <td>2024-03-23</td>
                                    <td>90</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>2001-076</td>
                                    <td>2024-03-30</td>
                                    <td>90</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>2001-085</td>
                                    <td>2024-04-06</td>
                                    <td>90</td>
                                    <td>1.5</td>
                                </tr>
                                <tr>
                                    <td>2001-011</td>
                                    <td>2024-04-10</td>
                                    <td>60</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="menu-buttons mt-3" id="package-session-buttons">
                            <button class="btn btn-outline-secondary mx-3">Add </button>
                            <button class="btn btn-outline-secondary">Remove </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <!--End section-three-->
    <section id="section-four" class="py-3">
        <div class="d-flex">
            <fieldset class="w-100">
                <legend>Purchase</legend>
                <div id="purchase-top-row" class="row-cols-4">
                    <div class="d-flex">
                        <label for="purchase-type" class="form-check-label">Purchase:</label>
                        <div class="align-content-center">
                            <span>Session</span><input class="form-check-input mx-3" name="purchase-type" type="checkbox" id="purchase-session" />
                            <span class="mx-3">Package</span><input class="form-check-input mx-2" name="purchase-type" type="checkbox" id="purchase-package" }" />
                        </div>
                    </div>

                    <div class="">
                        <select class="form-control form-select w-100" id="select-package">
                            <option selected value="">Select Package Type</option>
                            <option value="">5 Session:</option>
                            <option value="">10 Session:</option>
                        </select>
                    </div>

                    <div class="d-flex col-4 px-3">
                        <label id="add-on-label" class="form-label">Add-ons:</label>
                        <select class="form-control form-select" id="select-services">
                            <option selected value="">Select Services</option>
                            <option value="">Foot Spa</option>
                            <option value="">Ultra-red Therapy</option>
                            <option value="">cold fusion laser</option>
                        </select>
                    </div>
                    <div class="d-flex col-2">
                        <label class="form-label">Cost: </label>
                        <input id="input-cost" class="form-control" placeholder="$50" />
                    </div>
                </div>

                <div id="payment" class="row-cols-2 d-flex">
                    <div>
                        <div id="table-container-4" class="">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Remove</th>
                                        <th>Item Description</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>ToTal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>X</td>
                                        <td>Package 10 Sessions</td>
                                        <td>$900.00</td>
                                        <td>1</td>
                                        <th>$900.00</th>
                                    </tr>
                                    <tr>
                                        <td>X</td>
                                        <td>Foot Spa</td>
                                        <td>$50.00</td>
                                        <td>1</td>
                                        <th>$50.00</th>
                                    </tr>
                                    <tr>
                                        <td>X</td>
                                        <td>Session 1 hour</td>
                                        <td>$125.00</td>
                                        <td>1</td>
                                        <td>$125.00</td>
                                    </tr>
                                    <tr>
                                        <td>X</td>
                                        <td>Free Session Credit</td>
                                        <td>-$125.00</td>
                                        <td>1</td>
                                        <td>-$125.00</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="row-cols-2 d-flex">
                            <div class="col-4">
                                <div class="d-flex">
                                    <label for="subtotal" class="col-4">Subtotal:</label>
                                    <input type="number" placeholder="$1275.00" class="form-control" id="subtotal" />
                                </div>

                                <div class="d-flex my-2">
                                    <label for="gst" class="col-4">GST:</label>
                                    <input class="form-control" placeholder="$63.75" id="gst" />
                                </div>

                                <div class="d-flex">
                                    <label for="total" class="col-4">Total: </label>
                                    <input class="form-control" placeholder="$1337.75" id="total" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="d-flex">
                                    <label class="col-4">Payment Method:</label>
                                    <select class="form-control form-select">
                                        <option selected value="">Payment Method</option>
                                        <option value="cash">Cash</option>
                                        <option value="credit">Credit Card</option>
                                        <option value="credit">Debit Card</option>
                                    </select>
                                </div>

                                <div class="d-flex my-2">
                                    <label for="cc-number" class="col-4">Card #:</label>
                                    <input type="number" class="form-control" placeholder="1234 5678 9012 0521" id="cc-number" />
                                </div>
                                <div class="d-flex">
                                    <div class="d-flex col-7">
                                        <label for="exp" class="col-7">Exp:</label>
                                        <input type="text" class="form-control" placeholder="02/26" id="exp" />
                                    </div>
                                    <div class="d-flex">
                                        <label for="cvc" class="col-4 mx-2">CVC:</label>
                                        <input type="text" class="form-control" placeholder="654" id="cvc" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="payment-buttons" class="menu-buttons mt-1">
                            <button class="btn btn-outline-secondary">Pay</button>
                            <button disabled class="btn btn-outline-secondary">Override</button>
                            <button class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
               
                
            </fieldset>
        </div>
    </section>
    <section id="section-five">
        <div class="row-cols-2 d-flex">
            <fieldset>
                <legend></legend>
            </fieldset>
            <fieldset>
                <legend></legend>
            </fieldset>
        </div>
    </section>
</div>

